
body.mce-content-body {
	color:            #000;
}

.mce-content-body *, .mce-content-body p {
	font-family: Arial, Helvetica;
	font-size:   16px;
}

.mce-content-body p {
	margin:      0;
	line-height: 1.4em;
}

.mce-content-body img {
	margin: 1em;
}