#uploadModal #uploadDropzone {
	width:      200px;
	height:     200px;
	border:     2px dashed #AAA;
	color:      #AAA;
	background: #F7F7F7;
	text-align: center;
	font-size:  1.2em;
	margin:     auto;
	padding:    0;
}

#uploadModal #uploadDropzone .dz-message {
	display:        table-cell;
	height:         inherit;
	vertical-align: middle;
	padding:        0.5em;
}

#uploadedPreviewPane {
	display: inline-block;
	padding: 5px;
	margin:  5px 0;
}

#uploadedPreviewPane .image-item {
	width:  90px;
	height: 90px;
	margin: 5px 10px 5px 0;
	float:  left;
	cursor: pointer;
}

#uploadModal .uploading-images {
	margin: 5px 0;
}

#uploadModal .uploading-images .lbl-progress .status {
	float: right;
}