
body.mce-content-body {
	background-color: #000;
	color:            #E4DFDF;
}

.mce-content-body *, .mce-content-body p {
	font-family: Arial, Helvetica;
	font-size:   16px;
}

.mce-content-body p {
	margin:      1em 0;
	line-height: 1.4em;
}

.mce-content-body img {
	margin: 1em;
}