.post-content img {
	margin: 1em;
}

.post-content .image-block .img-wrap {
	text-align: center;
}

.post-content .img-wrap .img-title {
	font-size: 0.8em;
	clear:     both;
}

.post-content .image-block.format-left {
	float: left;
	clear: left;
}

.post-content .image-block.format-left .img-wrap img {
	float: left;
	clear: left;
}

.post-content .image-block.format-right {
	float: right;
	clear: right;
}

.post-content .image-block.format-right .img-wrap img {
	float: right;
	clear: right;
}