body {
	position:         relative;
	background-image: url(../images/background_wood_white.jpg);
	background-color: $background-base-color;
	min-width:        $screen-xs-min;
	line-height:      1.4em;
	color:            $color-text;
	font-family:      Arial, Helvetica;

	p {
		color:  $color-text;
		margin: 1em 0;
	}

	h1 {
		color:       $color-heading;
		font-size:   2em;
		font-weight: bold;
		margin:      0.5em 0;
	}

	h2 {
		font-size:   1.5em;
		color:       $color-text;
		font-weight: bold;
		margin:      0.5em 0;
	}
}

a {
	&:link,
	&:visited,
	&:active,
	&:hover {
		color:           $link-color;
		text-decoration: underline;
	}
}

input[type=text],
select {
	border: 1px solid #AAA;
}

footer {
	text-align: center;
}