body {
	position:         relative;
	background-image: url(../images/background_wood.jpg);
	background-color: $background-base-color;
	min-width:        $screen-xs-min;
	line-height:      1.4em;
	color:            $color-text;
	font-family:      Arial, Helvetica;

	.bg-aside {
		display:           none;
		@include respond-to(desktop) {
			display: block;
		}
		position:          absolute;
		bottom:            0;
		top:               0;
		width:             15%;
		background-size:   100%;
		background-repeat: no-repeat;
		&.bg-left {
			background-image: url(../images/tree-left.png);
			left:             0;
		}
		&.bg-right {
			background-image: url(../images/tree-right.png);
			right:            0;
		}
	}

	p {
		color:  $color-text;
		margin: 1em 0;
	}

	h1 {
		color:       $color-heading;
		font-size:   2em;
		font-weight: bold;
		margin:      0.5em 0;
	}

	h2 {
		font-size:   1.5em;
		color:       $color-heading;
		font-weight: bold;
		margin:      0.5em 0;
	}
}

a {
	&:link,
	&:visited,
	&:active,
	&:hover {
		color:           $color-salmon;
		text-decoration: underline;
	}
}

input[type=text],
select {
	border: 1px solid #AAA;
}

footer {
	text-align: center;
}