html, body {
	margin:  0;
	padding: 0;
	position: relative;
}

html {
	height: 100%;
}

body {
	min-height: 100%;
	position:   relative;
}

#fade-layer {
	position:   absolute;
	display:    none;
	top:        0;
	left:       0;
	width:      100%;
	height:     100%;
	background: rgba(0, 0, 0, .5);
	z-index:    5;
}

.wrapper {
	min-height: 100%;
	position: relative;
}

body {
	background-image: url(../images/background_wood_white.jpg);
	background-color: $background-base-color;
	min-width:        $screen-xs-min;
	line-height:      1.4em;
	color:            $color-text;
	font-family:      Calibri, Arial, Helvetica;

	p {
		color:  $color-text;
		margin: 1em 0;
	}

	h1 {
		color:       $color-heading;
		font-size:   2em;
		font-weight: bold;
	}

	h2 {
		font-size:   1.5em;
		color:       $color-text;
		font-weight: bold;
	}
}

a {
	&:link,
	&:visited,
	&:active,
	&:hover {
		color:           $link-color;
		text-decoration: underline;
	}
}

input[type=text],
select {
	border: 1px solid #AAA;
}