/** Содержимое страницы **/

.content {

	p {
		margin: 0;
	}

	padding:    1px 1em;

	@include respond-to(desktop) {
		max-width:  $screen-lg-max;
		margin: 1em auto;
	}

	background: rgba(255, 255, 255, 0.6);

	ul.breadcrubms {
		margin:  0.5em 0;
		display: block;
		> li {
			color:     $color-breadcrumbs;

			a {
				&:link, &:active, &:visited, &:hover {
					color: $color-breadcrumbs;
				}
			}
			display:   inline-block;
			font-size: 0.8em;

			.delimiter {
				margin:      0 0.5em;
				font-size:   0.9em;
				font-weight: bold;
			}
		}
	}

	img {
		margin: 1em;
	}

	.img-wrap {
		text-align: center;

		.img-title {
			font-size: 0.8em;
			clear:     both;
		}
	}

	.image-block {
		//@include respond-to(desktop) {
			//применяем форматирование изображений слева и справа только для десктопных разрешений
			&.format-left {
				float: left;
				clear: left;

				.img-wrap {
					img {
						float: left;
						clear: left;
					}
				}
			}

			&.format-right {
				float: right;
				clear: right;

				.img-wrap {
					img {
						float: right;
						clear: right;
					}
				}
			}
		//}
	}
}