/** Содержимое страницы **/

.content {

	p {
		margin: 0;
	}

	padding:    1px 1em;

	@include respond-to(desktop) {
		width:  60%;
		margin: 1em auto;
	}

	background: rgba(0, 0, 0, 0.4);
	color:      #FFF;
	text-align: justify;

	ul.breadcrubms {
		margin:  0.5em 0;
		display: block;
		> li {
			color:     $color-breadcrumbs;

			a {
				&:link, &:active, &:visited, &:hover {
					color: $color-breadcrumbs;
				}
			}
			display:   inline-block;
			font-size: 0.8em;

			.delimiter {
				margin:      0 0.5em;
				font-size:   0.9em;
				font-weight: bold;
			}
		}
	}

	img {
		margin: 1em;
	}
}