.content {
	padding:    1px 1em;

	@include respond-to(mobile) {
	}

	@include respond-to(desktop) {
		width:  60%;
		margin: 1em auto;
	}

	background: rgba(0, 0, 0, 0.4);
	color:      #FFF;
	text-align: justify;

	ul.breadcrubms {
		margin:  0.5em 0;
		display: block;
		> li {
			display: inline-block;

			.delimiter {
				margin:      0 0.5em;
				font-size:   0.9em;
				font-weight: bold;
			}
		}
	}
}