$social-icons-count: 3;

$social-icon-width-mobile: 30px;
$social-icon-height-mobile: 30px;
$social-icon-delim-mobile: 15px;

$social-icon-width-mobile-block: $social-icon-width-mobile * $social-icons-count + $social-icon-delim-mobile * ($social-icons-count - 1);
$social-icon-height-mobile-block: $social-icon-height-mobile;

$social-icon-width-desktop: 40px;
$social-icon-height-desktop: 40px;
$social-icon-delim-desktop: 1em;

footer {
	background-color: $footer-bg-color;
	width:            100%;
	padding:          0 0.5em;

	.sub-line {
		display: table;
		width:   100%;
		position: relative;
		text-align: center;

		.social-icons {
			@include respond-to(desktop) {
				position: absolute;
				bottom:   0;
				right:    0;
			}

			@import "social/*.png";
			@include all-social-sprites;

			.social-logo {
				display: inline-block;
				margin:  0 $social-icon-delim-desktop/2 0 $social-icon-delim-desktop/2;
				@include respond-to(mobile) {
					display: inline-block;
					width:   $social-icon-width-desktop;
					height:  $social-icon-height-desktop;
					@include zoom(0.9);
				}

				@include respond-to(desktop) {
					width:  $social-icon-width-desktop;
					height: $social-icon-height-desktop;
				}

				> a {
					display: block;
					width:   100%;
					height:  100%;
				}
			}
		}
	}

}