//шапка

$social-icons-count: 3;

$social-icon-width-mobile: 30px;
$social-icon-height-mobile: 30px;
$social-icon-delim-mobile: 15px;

$social-icon-width-mobile-block: $social-icon-width-mobile * $social-icons-count + $social-icon-delim-mobile * ($social-icons-count - 1);
$social-icon-height-mobile-block: $social-icon-height-mobile;

$social-icon-width-desktop: 40px;
$social-icon-height-desktop: 40px;
$social-icon-delim-desktop: 15px;

$social-icon-width-desktop-block: $social-icon-width-desktop;
$social-icon-height-desktop-block: $social-icon-height-desktop * $social-icons-count + $social-icon-delim-desktop * ($social-icons-count - 1);

header {
	margin:   auto;
	position: relative;

	@include respond-to(mobile) {
		width: 100%;
	}

	@include respond-to(desktop) {
		width: 60%;
	}

	//картинка с именем
	.img-name-wrapper {
		@include respond-to(desktop) {
			max-width: 860px;
			margin:    auto;
		}

		.img-name-container {

			@include respond-to(desktop) {
				position:       relative;
				padding-bottom: 19%;

				.img-name {
					position: absolute;
					top:      0;
					bottom:   0;
					left:     0;
					right:    0;
				}
			}

			.img-name {
				> a {
					display: block;
					width:   100%;
					height:  100%;
				}
				display: none;
				margin:  1em auto;

				@include respond-to(mobile) {
					//мобильная
					&.img-name-mobile {
						width:     67%;
						max-width: 457px;
						display:   block;
						.wrapper {
							display: inline-block;
							//части
							.img-part {
								display:           block;
								background-size:   contain;
								background-repeat: no-repeat;

								//левая часть
								&.left-part {
									background-image: url(../images/header_mobile_left.png);
									float:            left;
									width:            236px;
									height:           56px;
								}

								//правая часть
								&.right-part {
									background-image: url(../images/header_mobile_right.png);
									float:            right;
									width:            261px;
									height:           61px;
									margin-top:       5px;
								}
							}

						}
					}
				}

				@include respond-to(desktop) {
					//десктопная
					&.img-name-desktop {
						max-width:         860px;
						display:           block;
						background-image:  url(../images/header_desktop.png);
						background-size:   contain;
						background-repeat: no-repeat;
						//height:            122px;
					}
				}
			}
		}
	}

	//последние фото
	.last-photos {
		display: none;
		@include respond-to(desktop) {
			display:    block;
			margin:     1em auto;
			text-align: center;
			//контейнер с фото
			.photos-container {
				display:  block;
				height:   $header-photo-height;
				overflow: hidden;
				//само фото
				.photo-item {
					display:          inline-block;
					width:            $header-photo-width;
					height:           $header-photo-height;
					background-color: $color-salmon;
					margin:           0 1em;
				}
			}
		}
	}

	.menu-wrapper {
		@include respond-to(mobile) {
			margin:   0 1em;
			position: relative;
			display:  block;
		}
		@include respond-to(desktop) {
			display: table;
			width:   100%;
		}
		//menu
		.menu {
			@include respond-to(mobile) {
				display: inline-block;
			}

			@include respond-to(desktop) {
				display: table-cell;
			}

			ul.menu-items {
				display: inline-block;

				> li {
					display: inline-block;

					> a {
						display: block;
						width:   100%;
						height:  100%;
					}

					@include respond-to(mobile) {
						margin:          0 12px 0 0;
						height:          15px;
						background:      url(../images/menu/menu-mobile-sprite.png) no-repeat;
						background-size: cover;

						&.item-biser {
							background-position: 0 0;
							width:               64px;
						}

						&.item-not-biser {
							background-position: -64px 0;
							width:               94px;
						}

						&.item-contacts {
							background-position: -159px 0;
							width:               111px;
						}
					}

					@include respond-to(desktop) {
						margin:          0 18px 0 0;
						height:          16px;
						background:      url(../images/menu/menu-mobile-sprite.png) no-repeat;
						background-size: cover;

						&.item-biser {
							background-position: 0 0;
							width:               68px;
						}

						&.item-not-biser {
							background-position: -68px 0;
							width:               102px;
						}

						&.item-contacts {
							background-position: -169px 0;
							width:               119px;
						}
					}
				}
			}
		}

		.social-icons {
			@include respond-to(mobile) {
				margin: 0.5em 0;
				//width:  $social-icon-width-mobile-block;
				//height: $social-icon-height-mobile-block;
			}

			@include respond-to(desktop) {
				position: absolute;
				width:    $social-icon-width-desktop-block;
				height:   $social-icon-height-desktop-block;
				left:     -$social-icon-width-desktop-block - 30px;
				bottom:   -$social-icon-height-desktop-block - 90px;
				display:  table-cell;
			}

			@import "social/*.png";
			@include all-social-sprites;

			.social-logo {
				@include respond-to(mobile) {
					display: inline-block;
					width:   $social-icon-width-desktop;
					height:  $social-icon-height-desktop;
					margin:  0 $social-icon-delim-desktop 0 0;
					zoom:    0.9;
					&:last-child {
						margin-right: 0;
					}
				}

				@include respond-to(desktop) {
					width:  $social-icon-width-desktop;
					height: $social-icon-height-desktop;
					margin: 0 0 $social-icon-delim-desktop 0;
					&:last-child {
						margin-bottom: 0;
					}
				}

				> a {
					display: block;
					width:   100%;
					height:  100%;
				}

			}
		}

		.search-panel {
			display: table-cell;
			position:  relative;
			@include respond-to(mobile) {
				position: absolute;
				right:    0;
				top:      0;
			}
			@include respond-to(desktop) {
				width: 23%;
			}
			//display:   block;
			//float:     right;
			min-width: 5em;
			height:    1em;
			input[type=text] {
				width: 100%;
				background-color: $color-salmon;
				&::-webkit-input-placeholder { color: #000; }
				&::-moz-placeholder { color: #000; }
				/* Firefox 19+ */
				&:-moz-placeholder { color: #000; }
				/* Firefox 18- */
				&:-ms-input-placeholder { color: #000; }
			}

			.icons-search {
				width:    20px;
				height:   20px;
				zoom:     0.7;
				position: absolute;
				top:      5px;
				right:    0;
				> a {
					display: block;
					width:   100%;
					height:  100%;
				}
			}
		}
	}
}

@import "icons/*.png";
@include all-icons-sprites;