//шапка

header {
	margin:   auto;
	position: relative;

	@include respond-to(desktop) {
		max-width: $screen-lg-max;
	}

	.header-sup {
		@include respond-to(mobile) {
			display: none;
		}
		.inner {
			@include respond-to(desktop) {
				background:        url(../images/header_desktop_sup.png);
				background-size:   contain;
				background-repeat: no-repeat;
				display:           block;
				padding-bottom:    2%;
			}
		}
	}

	//картинка с именем
	.img-name-wrapper {
		@include respond-to(desktop) {
			margin:    auto;
		}

		@include respond-to(mobile) {
			display: table;
			width:   100%;
		}

		.img-name-container {
			@include respond-to(mobile) {
				width:          90%;
				display:        table-cell;
				padding-right:  5px;
				vertical-align: top;
			}
			@include respond-to(desktop) {
				width: 100%;
			}
			display: inline-block;
			margin-bottom: 5px;

			.img-name {
				> a {
					display: block;
					width:   100%;
					height:  100%;
				}

				display:           block;
				background-image:  url(../images/header_desktop.png);
				background-size:   contain;
				background-repeat: no-repeat;
				@include respond-to(mobile) {
					//мобильная
					padding-bottom:    7%;
					width:             100%;
				}
				@include respond-to(desktop) {
					//десктопная

					padding-bottom:    6%;
					width:             83%;


				}
			}

			.beads-photo {
				display:           inline-block;
				background-repeat: no-repeat;
				background-image:  url(../images/header_desktop_right.png);
				float:             right;
				background-size:   contain;
				@include respond-to(mobile) {
					width:          41%;
					padding-bottom: 5%;
				}
				@include respond-to(desktop) {
					width:          32%;
					padding-bottom: 4%;
				}
			}
		}

		.search-heading {
			@include respond-to(mobile) {
				display:        table-cell;
				vertical-align: top;
			}
			@include respond-to(desktop) {
				display: none;
			}
			&.opened {
				position: absolute;
				left:     0;
				right:    0;
				top:      0;
			}
			display:          inline-block;
			vertical-align:   top;
			background-color: $menu-bg-mobile-color;
			float:            right;
			z-index:          10;
			$search-button-width: 50px;
			$search-button-height: 50px;

			.search-panel {
				position:         absolute;
				top:              0;
				left:             0;
				right:            $search-button-width;
				height:           $search-button-height;
				background-color: $menu-bg-mobile-color;
				padding:          0.5em;
				input[type=text] {
					font-size: 23px;
				}
				.btn-panel-search {
					background:     $content-bg-color;
					font-size:      0.9em;
					margin-left:    0.5em;
					vertical-align: top;
				}
			}
			.btn-header-search {
				float:      right;
				border:     none;
				background: none;
				width:      $search-button-width;
				height:     $search-button-height;
				&:focus {
					outline: none;
				}
			}
		}
	}

	.menu-wrapper {
		width:   100%;

		ul.menu {
			@include respond-to(mobile) {
				width:            100%;
				display:          table;
				background-color: $menu-bg-mobile-color;
			}
			display: inline-block;

			> li {
				display: inline-block;

				> a {
					display: block;
					width:   100%;
					height:  100%;
				}

				$margin-right: 		12px;
				$height: 			18px;
				$offset-about-me: 	0px;
				$width-about-me: 	107px;
				$offset-biser: 		-108px;
				$width-biser: 		76px;
				$offset-not-biser: 	-185px;
				$width-not-biser: 	113px;
				$offset-contacts: 	-299px;
				$width-contacts: 	132px;

				$mobile-scale: 0.6;

				@include respond-to(desktop) {
					.text-label {
						display: none;
					}
					margin:     0 $margin-right 0 0;
					height:     $height;
					background: url(../images/menu/menu-desktop.png) no-repeat;

					&.item-about-me {
						background-position: $offset-about-me 0;
						width:               $width-about-me;
					}

					&.item-biser {
						background-position: $offset-biser 0;
						width:               $width-biser;
					}

					&.item-not-biser {
						background-position: $offset-not-biser 0;
						width:               $width-not-biser;
					}

					&.item-contacts {
						background-position: $offset-contacts 0;
						width:               $width-contacts;
					}
				}

				@include respond-to(mobile) {
					display:        table-cell;
					width:          25%;
					border:         1px solid $color-heading;
					> a {
						text-align:     center;
						height:      56px;
						line-height: 56px;
					}
				}
			}
		}

		.search-panel {
			@include respond-to(mobile) {
				display: none;
			}
			@include respond-to(desktop) {
				width:    23%;
				float:    right;
				position: relative;
			}
			min-width: 5em;
			height:    1em;
			input[type=text] {
				width:            100%;
				background-color: $color-menu-bg;
				border: 1px solid #FFF;
				&::-webkit-input-placeholder { color: #000; }
				&::-moz-placeholder { color: #000; }
				/* Firefox 19+ */
				&:-moz-placeholder { color: #000; }
				/* Firefox 18- */
				&:-ms-input-placeholder { color: #000; }
				color:            #000;
				//font-size:        0.8em;
				height:           22px;
				margin:           0;
				padding:          0;
				font-size:        0.8em;
				//border: none;
			}

			.icons-search {
				width:            20px;
				height:           20px;
				zoom:             0.7;
				position:         absolute;
				top:              5px;
				right:            0;
				background-color: transparent;
				border:           none;
			}

			.button-label {
				display: none;
			}
		}
	}
}

@import "icons/*.png";
@include all-icons-sprites;