/** Модуль "Комментарии" **/

.comment-block {
	//блок комментариев

	.comments-list {
		//список комментариев

		.comment-item {
			//комментарий - пункт списка
			margin:           0.5em 0;
			background-color: rgba(255, 255, 255, 0.1);
			padding:          0.4em;

			.comment-fied {
				//поле комментария
				vertical-align: top;

				&.name {
					//имя
					display:      inline-block;
					margin-right: 2em;
					width:        200px;
					max-width:    200px;
					overflow:     hidden;
					font-style:   italic;
				}

				&.date {
					//дата
					display:    inline-block;
					font-style: italic;
					font-size:  0.9em;
				}

				&.comment-content {
					//содержимое
					margin-top: 0.5em;
					word-break: break-all;
				}

			}

		}
	}

	.add-comment {
		//блок добавления комментария

		@include respond-to(mobile) {
			width: 100%;
		}

		@include respond-to(desktop) {
			width: 400px;
		}

		.form-group {
			&.field-commentfront-nickname {
				//поле "имя"

			}

			&.field-commentfront-content {
				//поле "комментарий"
				textarea {
					height: 5em;
				}
			}
		}
	}
}