/** Модуль "Блог" **/

$header-photo-width: 90px;
$header-photo-height: 90px;

.blog-posts {
	.post-item {
		display: inline-block;
		width:   100%;

		.post-stamp {
			font-size:  0.9em;
			font-style: italic;
		}
	}
	.pagination-wrap {
		text-align: center;
	}
}

header {
	//последние фото
	.last-photos {
		display: none;
		@include respond-to(desktop) {
			display:    block;
			margin:     0 auto 1em;
			text-align: center;
			//контейнер с фото
			.photos-container {
				display:  block;
				height:   $header-photo-height;
				overflow: hidden;
				//само фото
				.photo-item {
					display: inline-block;
					width:   $header-photo-width;
					height:  $header-photo-height;
					margin:  0 0.5em;
				}
			}
		}
	}
}

/** Облако тегов внизу страницы */
.tags-cloud {
	ul.tags-list {
		> li {
			display: inline-block;
		}
	}
}

/** Список тегов в конце поста */
.tags-post {
	font-size: 0.9em;
	margin: 0.5em 0;
	ul.tags-list {
		display: inline-block;
		> li {
			display:   inline-block;
		}
	}
}

//содержимое поста блога при выводе на своей странице
.blog-post-content {
	.post-stamp {
		font-size:     0.9em;
		font-style:    italic;
		margin-bottom: 0.2em;
	}
}